body{
	padding: 0px; margin: 0px;
	font-family: "Helvetica"
}
*, *:before, *:after{
	box-sizing: border-box;
}
h1, h2, h3{
	padding: 0px; margin: 0px;
}

.hidden{
	display: none;
}

header{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding: 15px 20px;

	color: #FFF;
	background-color: #005BD5;
}

.menu a{
	color: #005BD5;
	font-size: 16px;
	font-weight: 800;
	text-decoration: none;
	transition: all .2s;
}
.menu a:hover{
	color: #0028B4;
	text-decoration: underline;
}
.menu button{
	padding: 10px 15px;
	cursor: pointer;

	color: #FFF;
	background-color: #005BD5;
	border: 1px solid #005BD5;
	border-radius: 50px;

	font-size: 16px;
	font-weight: 800;
}
#menu-btn{
	display: inline-flex;
	align-items: center;
	width: 100px;
	height: 50px;
	padding: 5px 10px;

	color: #FFF;
	background-color: transparent;
	font-size: 16px;

	border: 2px solid #FFF;
	border-radius: 50px;
	transition: all .3s;
}
#menu-btn:hover{
	color: #005BD5;
	background-color: #FFF;
}

.cta{
	padding: 40px 60px;
	background-color: whitesmoke;
}
.cta-btn{
	width: 110px;
	height: 50px;
	padding: 5px 10px;

	color: #005BD5;
	background-color: transparent;
	font-size: 16px;

	border: 2px solid #005BD5;
	border-radius: 50px;
	transition: all .3s;
}
.cta-btn:hover{
	color: #FFF;
	background-color: #005BD5;
}

.services{
	width: 90%;
	margin: 50px auto;
}

.widget{
	padding: 20px;
	margin: 20px auto;

	border-radius: 20px;
	box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, .4);
	transition: height 3s;
}
.widget-title{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.widget-content{
	transition: height 3s;
}

.newsletter{
	padding: 40px 100px;
	background-color: whitesmoke;
}
.newsletter input[type="email"]{
	padding: 15px; margin: 15px 0;
	border-radius: 5px;
	font-size: 15px;
}

footer{
	padding: 15px 30px;
	color: #FFF;
	/*background-color: #005BD5;*/
	background: linear-gradient(#005BD5, #0028B4);
}
footer a{
	color: #FFF;
	text-decoration: none;
	border-bottom: 3px solid #FFF;
	transition: all .3s;
}
footer a:hover{
	border-bottom: 1px solid #005BD5;
}
footer ul{
	padding: 0px; margin: 0px;
	list-style-type: none;
}

@keyframes key-fade-out{
	from{ opacity: initial; }
	to{ opacity: 0; }
}
@keyframes key-fade-in{
	from{ opacity: 0; }
	to{ opacity: 100%; }
}

.fade-in{
	animation-name: key-fade-in;
	animation-duration: .3s;
	animation-timing-function: ease-out;
}
.fade-out{
	animation-name: key-fade-out;
	animation-duration: .3s;
	animation-timing-function: ease-in;
}

@keyframes key-slide-in{
	from{
		position: initial;
		height: initial;
		opacity: 0;
	}
	50%{
		transform: translateY(20px);
	}
	to{ transform: translateY(1px);}
}
@keyframes key-slide-out{
	from{ position: initial; }
	to{
		opacity: 0;
		transform: translateY(-40px);
	}
}

.slide-in{
	animation-name: key-slide-in;
	animation-duration: .3s;
	animation-timing-function: ease-out;
}
.slide-out{
	animation-name: key-slide-out;
	animation-duration: .12s;
	animation-timing-function: ease-in;
}



@media only screen and (max-width: 600px){
	.menu{
		position: fixed;
		top:0; right: 0;
		width: 60%;
		height: 100%;

		padding: 15px;
		background-color: #FFF;
	}

	.end-content-m{

	}
	.end-content-pc{ display: none; }

	.end-content div{
		padding: 20px 0;
	}
}

@media only screen and (min-width: 768px){
	.menu{
		position: absolute;
		right: 5px;
		width: 40%;

		padding: 15px; margin: 15px;
		background-color: #FFF;

		border-radius: 20px;
		box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, .4);
	}

	.end-content{
		width: 100%;
		display: inline-flex;
		justify-content: space-between;
	}

	.end-content-pc{
		width: 100%;
		display: inline-flex;
		justify-content: space-between;
	}
	.end-content-m{ display: none; }
}
